@media (prefers-color-scheme: dark) {
	body {
		background: #0f0f0f;
		color: #f0f0f0
	}
	a:link {
		color: #4040f0
	}
}
body {
	margin: 1em auto;
	max-width: 40em;
	padding: 0 0.6em 3.24em;
	font: 1.2em/1.62 sans-serif
}
h1,h2,h3 {
	line-width: 1.2
}
@media print {
	body {
		max-width: none
	}
}
